<h1>Pixel Chart !</h1>

<div class="container">
  <div class="left">
    <div class="days">
    @for(jour of daysNumber; track $index) {
      <div class="dayNumber">{{ $index + 1 }}</div>
    }
    </div>
    @for (month of calendar; let indexMois = $index; track indexMois) {
      <div class="month">
        <div class="month-text">{{monthsLetter[indexMois]}}</div>
      @for (day of month; let indexDay = $index; track indexDay) {
      <app-day
        [color]="mapColorToObject(calendar[indexMois][indexDay]!!)"
        [colors]="colors"
        (selectedColorEvent)="save(indexMois, indexDay, $event)"
        [borders]="getBorders(indexMois, indexDay)"
        />
      }
    </div>
    }
  </div>
  <div class="right">
    <h1>Légende</h1>
    <div>
      @for(quantite of quantites; track quantite){
        <div class="legend">
          <p class="square" [ngStyle]="{'background-color': quantite.color}" ></p>
          {{quantite.label}}
        </div>
      }
    </div>
  </div>
</div>

<router-outlet />
