.container {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .daysNumber {
    width: 20px;
    height: 20px;
    border: 1px white solid;
    margin: -1px -1px 0 0;
  }

  .month {
    display: flex;
    flex-direction: column;
    width: 20px;

    .month-text {
      display: flex;
      position: absolute;
      width: 20px;
      justify-content: center;
      word-break: break-all;
      top: 50px;

      > p {
        width: 5px;
        margin: auto;
      }
    }
  }
}
